// Include Bootstrap and BootstrapVue SCSS files
$primary: #FF5555;
$secondary: #9A9A9A;
$border-radius: 25px;
$dark: #707070;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.u-title-font, .u-title-font *{
    font-family: "Bebas Neue", cursive;
}

input {
    height: 50px !important;
    text-indent: 20px;
    color: $dark;
}

input::placeholder {
    color: $secondary;
}

  